Import neccessary dependencies and api urls

In [8]:
import pandas as pd
import seaborn as sb
import requests as rq
from urls import SILVER_PRODUCTION_URL

In [9]:
def get_data(url: str = "", path: str = "") -> pd.DataFrame:

    entries_df = pd.DataFrame(
        columns = ["TIME_PERIOD", "OBS_VALUE", "COBER_GEO"]
    )

    # Data retrieval when a url is given
    if url != "":
        r = rq.get(url)
        data = r.json()['Series'][0]['OBSERVATIONS']

        for entry_no in range(len(data)):
            entries_list = [
                data[entry_no]["TIME_PERIOD"],
                data[entry_no]["OBS_VALUE"],
                data[entry_no]["COBER_GEO"],
            ]

            entries_df.loc[len(entries_df)] = entries_list

        return entries_df

    # Data retrieval when a file path is given
    elif path != "":
        # Extract the first 2 digits of the filename
        filename = path.split('/')[-1]
        cober_geo = filename.split('-')[0]
        
        data = pd.read_csv(
            path, 
            encoding='utf-16le',
            skiprows=4,
            skipfooter=3,
            engine='python'
        )
        
        data.columns = ['TIME_PERIOD', 'OBS_VALUE']

        data['OBS_VALUE'] = pd.to_numeric(data['OBS_VALUE'], errors='coerce').astype('Int64')
        
        data['COBER_GEO'] = cober_geo

        data = data.iloc[::-1]
        data = data.reset_index(drop=True)
        
        return data

In [14]:
with open("./filenames.txt", 'r') as file:
    data_df_list_silver = [get_data(path=f"./data/{filename.strip()}") for filename in file]

data_df_list_silver

[    TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08       4480        00
 1       2025/07       3956        00
 2       2025/06       4108        00
 3       2025/05       4263        00
 4       2025/04       3904        00
 ..          ...        ...       ...
 471     1986/05      50645        00
 472     1986/04      44418        00
 473     1986/03      52001        00
 474     1986/02      56816        00
 475     1986/01      34390        00

 [476 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08          0        02
 1       2025/07          0        02
 2       2025/06          0        02
 3       2025/05          0        02
 4       2025/04          0        02
 ..          ...        ...       ...
 363     1995/05       2544        02
 364     1995/04       2714        02
 365     1995/03       1139        02
 366     1995/02       1686        02
 367     1995/01        856        02

 [368 rows x 3 columns],
      TIME_PERIOD  OBS_VALUE COBER_GEO
 0        2025/04          0        05
 1        2025/03          0        05
 2        2025/02          0        05
 3    2025/01 /p1          0        05
 4        2024/12       2746        05
 ..           ...        ...       ...
 359      1995/05       4220        05
 360      1995/04       5449        05
 361      1995/03       3804        05
 362      1995/02       4176        05
 363      1995/01       5586        05

 [364 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08      84110        08
 1       2025/07      87345        08
 2       2025/06      86880        08
 3       2025/05      89925        08
 4       2025/04      88875        08
 ..          ...        ...       ...
 471     1986/05      34231        08
 472     1986/04      32153        08
 473     1986/03      34121        08
 474     1986/02      36016        08
 475     1986/01      32757        08

 [476 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08      99965        10
 1       2025/07      94390        10
 2       2025/06      95658        10
 3       2025/05      92679        10
 4       2025/04      99508        10
 ..          ...        ...       ...
 471     1986/05      20891        10
 472     1986/04      17870        10
 473     1986/03      20114        10
 474     1986/02      26848        10
 475     1986/01      20038        10

 [476 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08       4861        11
 1       2025/07       4818        11
 2       2025/06       4895        11
 3       2025/05       4775        11
 4       2025/04       5078        11
 ..          ...        ...       ...
 471     1986/05      16861        11
 472     1986/04      12858        11
 473     1986/03      12023        11
 474     1986/02      11195        11
 475     1986/01      13700        11

 [476 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08       1369        12
 1       2025/07       1982        12
 2       2025/06       1941        12
 3       2025/05       1306        12
 4       2025/04       1608        12
 ..          ...        ...       ...
 363     1995/05       2305        12
 364     1995/04       1607        12
 365     1995/03       1495        12
 366     1995/02       1501        12
 367     1995/01       1674        12

 [368 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08       4600        13
 1       2025/07       4527        13
 2       2025/06       4598        13
 3       2025/05       4589        13
 4       2025/04       4617        13
 ..          ...        ...       ...
 471     1986/05      12478        13
 472     1986/04      11289        13
 473     1986/03      10895        13
 474     1986/02      11524        13
 475     1986/01      18811        13

 [476 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08       7929        15
 1       2025/07       1660        15
 2       2025/06       1663        15
 3       2025/05       1637        15
 4       2025/04       1520        15
 ..          ...        ...       ...
 363     1995/05       4395        15
 364     1995/04       4810        15
 365     1995/03       5538        15
 366     1995/02       4728        15
 367     1995/01       4017        15

 [368 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08        413        18
 1       2025/07        449        18
 2       2025/06        423        18
 3       2025/05        409        18
 4       2025/04        418        18
 ..          ...        ...       ...
 363     1995/05        560        18
 364     1995/04        427        18
 365     1995/03        634        18
 366     1995/02        709        18
 367     1995/01        372        18

 [368 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08       3549        20
 1       2025/07       3988        20
 2       2025/06       3468        20
 3       2025/05       3529        20
 4       2025/04       3548        20
 ..          ...        ...       ...
 363     1995/05        294        20
 364     1995/04        525        20
 365     1995/03        486        20
 366     1995/02        344        20
 367     1995/01        153        20

 [368 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08        145        22
 1       2025/07        130        22
 2       2025/06        146        22
 3       2025/05        138        22
 4       2025/04        195        22
 ..          ...        ...       ...
 363     1995/05        250        22
 364     1995/04        320        22
 365     1995/03        279        22
 366     1995/02        323        22
 367     1995/01        159        22

 [368 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08      12779        24
 1       2025/07      12576        24
 2       2025/06      13057        24
 3       2025/05      12536        24
 4       2025/04      10222        24
 ..          ...        ...       ...
 363     1995/05       3874        24
 364     1995/04       5374        24
 365     1995/03       2979        24
 366     1995/02       4111        24
 367     1995/01       3638        24

 [368 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08       4112        25
 1       2025/07       4116        25
 2       2025/06       4072        25
 3       2025/05       4118        25
 4       2025/04       4123        25
 ..          ...        ...       ...
 363     1995/05       6316        25
 364     1995/04       5696        25
 365     1995/03       6137        25
 366     1995/02       5838        25
 367     1995/01       4463        25

 [368 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08      40524        26
 1       2025/07      40172        26
 2       2025/06      37803        26
 3       2025/05      38966        26
 4       2025/04      41147        26
 ..          ...        ...       ...
 471     1986/05       9626        26
 472     1986/04       9594        26
 473     1986/03      10838        26
 474     1986/02       8422        26
 475     1986/01       8694        26

 [476 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08     186081        32
 1       2025/07     184435        32
 2       2025/06     178615        32
 3       2025/05     181192        32
 4       2025/04     172687        32
 ..          ...        ...       ...
 471     1986/05      67484        32
 472     1986/04      64651        32
 473     1986/03      69120        32
 474     1986/02      63116        32
 475     1986/01      67343        32

 [476 rows x 3 columns],
     TIME_PERIOD  OBS_VALUE COBER_GEO
 0       2025/08       4480        38
 1       2025/07       3956        38
 2       2025/06       4108        38
 3       2025/05       4263        38
 4       2025/04       3904        38
 ..          ...        ...       ...
 471     1986/05      50645        38
 472     1986/04      44418        38
 473     1986/03      52001        38
 474     1986/02      56816        38
 475     1986/01      34390        38

 [476 rows x 3 columns]]